.zootorial-underlay {
  background: rgba(#000, 0.25);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &.hidden,
  &.tutorial {
    display: none;
  }
}

.zootorial-dialog {
  background: #fff;
  color: #000;
  position: absolute;
  z-index: 1100;

  &.hidden {
    display: none;
  }
}

.zootorial-blocker {
  position: absolute;
  z-index: 1050;
}

.zootorial-focuser {
  position: absolute;
  z-index: 1075;
}
