.corner {
  background: black;
  height: 10px;
  position: absolute;
  width: 10px;

  &.top {top: 0;}
  &.right {right: 0;}
  &.bottom {bottom: 0;}
  &.left {left: 0;}
}

#attached-thing {
  background: rgba(#0f0, 0.5);
  height: 100px;
  position: absolute;
  width: 100px;
}

#big-box {
  background: rgba(#000, 0.5);
  height: 200px;
  left: 33.33%;
  position: absolute;
  top: 33.33%;
  width: 200px;
}

.tutorial.dialog {
  height: 50px;
  width: 50px;
}
