html {
  font: 14px sans-serif;
}

.interesting {
  background: #ccc;
  border: 1px solid #999;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 150px;
}

.zootorial-dialog {
  background: black;
  border: 1px solid #000;
  color: white;
  max-width: 25%;
  transition: left 0.25s ease-in, opacity 0.33s ease-in-out, top 0.25s ease-out;
  z-index: 2;

  &.hidden {
    opacity: 0;
  }
}

.zootorial-blocker {
  background: #f00;
  cursor: not-allowed;
  opacity: 0.25;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;

  &.hidden {
    opacity: 0;
  }
}

.zootorial-focuser {
  background: #000;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;

  &.hidden {
    opacity: 0;
  }
}
