html {
  font: 14px sans-serif;
}

.interesting {
  background: #ccc;
  border: 1px solid #999;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 150px;
}

.tutorial.zootorial-dialog {
  border: 1px solid #000;
  -moz-transition: left 0.25s ease-in-out, top 0.25s ease-in-out 0.125s;
}

.zootorial-blocker {
  background: #f00;
  cursor: not-allowed;
  opacity: 0.25;
  -moz-transition: opacity 0.25s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}

.zootorial-focuser {
  background: #000;
  opacity: 0.5;
  -moz-transition: opacity 0.25s ease-in-out;

  &.hidden {
    opacity: 0;
  }
}
