.zootorial-dialog {
  background: #fff;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.67);
  box-shadow: 0 3px 5px rgba(0,0,0,0.67);
  color: #000;
  font: 14px "Helvetica Neue", sans-serif;
  max-width: 33%;
}
.zootorial-dialog.arrow-right > .dialog-arrow {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  position: absolute;
  right: -5px;
  top: 45%;
}
.zootorial-dialog.arrow-left > .dialog-arrow {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  position: absolute;
  left: -5px;
  top: 45%;
}
.zootorial-dialog.arrow-top > .dialog-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  left: 45%;
  top: -5px;
}
.zootorial-dialog.arrow-bottom > .dialog-arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  left: 45%;
  bottom: -5px;
}
.zootorial-dialog .dialog-arrow {
  width: 0;
  height: 0;
}
.zootorial-dialog button[name="close-dialog"] {
  background: transparent;
  border: 0;
  color: #999;
  cursor: pointer;
  font: 16px Arial, sans-serif;
  height: 1em;
  line-height: 1em;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 1em;
}
.zootorial-dialog .header {
  color: #666;
  display: none;
  font-size: 20px;
  margin-bottom: -10px;
  padding: 15px 25px 0 20px;
}
.zootorial-dialog .header.defined {
  display: block;
}
.zootorial-dialog .details {
  display: none;
  padding: 15px 25px 15px 20px;
}
.zootorial-dialog .details.defined {
  display: block;
}
.zootorial-dialog .instruction {
  background: #390;
  color: #fff;
  display: none;
  font-weight: bold;
  padding: 15px 25px 15px 20px;
  text-shadow: 0 1px 1px #000;
}
.zootorial-dialog .instruction.defined {
  display: block;
}
.zootorial-dialog .instruction.attention {
  -webkit-animation: 1s zootorial-throb ease-in-out infinite;
  -moz-animation: 1s zootorial-throb ease-in-out infinite;
  -o-animation: 1s zootorial-throb ease-in-out infinite;
  -ms-animation: 1s zootorial-throb ease-in-out infinite;
  animation: 1s zootorial-throb ease-in-out infinite;
}
.zootorial-dialog .instruction button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 12px;
  margin: 0 0 0 0.25em;
  padding: 0;
  text-shadow: inherit;
  text-decoration: underline;
}
.zootorial-dialog .instruction button[disabled] {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.zootorial-dialog .buttons {
  background: #390;
  display: none;
  padding: 10px;
  text-align: center;
}
.zootorial-dialog .buttons.defined {
  display: block;
}
.zootorial-dialog .buttons button {
  background: #fff;
  border: 0;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.67);
  box-shadow: 0 2px 3px rgba(0,0,0,0.67);
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  padding: 3px 15px;
  position: relative;
}
.zootorial-dialog .buttons button:active {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  top: 1px;
}
.zootorial-dialog .progress {
  display: none;
}
.zootorial-dialog .progress.defined {
  display: block;
}
.zootorial-dialog .progress .track {
  background: #ccc;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px #999 inset;
  box-shadow: 0 1px 1px #999 inset;
  height: 5px;
  margin: 5px 10px;
  overflow: hidden;
  position: relative;
}
.zootorial-dialog .progress .track .fill {
  background: #390;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: width 0.5s ease-in-out;
  -moz-transition: width 0.5s ease-in-out;
  -o-transition: width 0.5s ease-in-out;
  -ms-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  width: 0%;
}
.zootorial-dialog .progress .steps {
  line-height: 0;
  margin: 5px 10px;
  text-align: center;
}
.zootorial-dialog .progress .steps .step {
  border: 1px solid #999;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  height: 5px;
  margin: 0 2px;
  width: 5px;
}
.zootorial-dialog .progress .steps .step.passed {
  background: #999;
}
.zootorial-dialog .progress .steps .step.active {
  background: #390;
  border-color: #390;
}
.actionable {
  -webkit-animation: 1s zootorial-glow ease-in-out infinite;
  -moz-animation: 1s zootorial-glow ease-in-out infinite;
  -o-animation: 1s zootorial-glow ease-in-out infinite;
  -ms-animation: 1s zootorial-glow ease-in-out infinite;
  animation: 1s zootorial-glow ease-in-out infinite;
}
@-moz-keyframes zootorial-throb {
  0% {
    background: #390;
  }

  50% {
    background: #194d00;
  }

  100% {
    background: #390;
  }
}
@-webkit-keyframes zootorial-throb {
  0% {
    background: #390;
  }

  50% {
    background: #194d00;
  }

  100% {
    background: #390;
  }
}
@-o-keyframes zootorial-throb {
  0% {
    background: #390;
  }

  50% {
    background: #194d00;
  }

  100% {
    background: #390;
  }
}
@-ms-keyframes zootorial-throb {
  0% {
    background: #390;
  }

  50% {
    background: #194d00;
  }

  100% {
    background: #390;
  }
}
@keyframes zootorial-throb {
  0% {
    background: #390;
  }

  50% {
    background: #194d00;
  }

  100% {
    background: #390;
  }
}
@-moz-keyframes zootorial-glow {
  0% {
    -webkit-box-shadow: 0 0 0 2px #000 inset;
    box-shadow: 0 0 0 2px #000 inset;
  }

  50% {
    -webkit-box-shadow: 0 0 0 2px #fff inset;
    box-shadow: 0 0 0 2px #fff inset;
  }

  100% {
    -webkit-box-shadow: 0 0 0 2px #000 inset;
    box-shadow: 0 0 0 2px #000 inset;
  }
}
@-webkit-keyframes zootorial-glow {
  0% {
    -webkit-box-shadow: 0 0 0 2px #000 inset;
    box-shadow: 0 0 0 2px #000 inset;
  }

  50% {
    -webkit-box-shadow: 0 0 0 2px #fff inset;
    box-shadow: 0 0 0 2px #fff inset;
  }

  100% {
    -webkit-box-shadow: 0 0 0 2px #000 inset;
    box-shadow: 0 0 0 2px #000 inset;
  }
}
@-o-keyframes zootorial-glow {
  0% {
    -webkit-box-shadow: 0 0 0 2px #000 inset;
    box-shadow: 0 0 0 2px #000 inset;
  }

  50% {
    -webkit-box-shadow: 0 0 0 2px #fff inset;
    box-shadow: 0 0 0 2px #fff inset;
  }

  100% {
    -webkit-box-shadow: 0 0 0 2px #000 inset;
    box-shadow: 0 0 0 2px #000 inset;
  }
}
@-ms-keyframes zootorial-glow {
  0% {
    -webkit-box-shadow: 0 0 0 2px #000 inset;
    box-shadow: 0 0 0 2px #000 inset;
  }

  50% {
    -webkit-box-shadow: 0 0 0 2px #fff inset;
    box-shadow: 0 0 0 2px #fff inset;
  }

  100% {
    -webkit-box-shadow: 0 0 0 2px #000 inset;
    box-shadow: 0 0 0 2px #000 inset;
  }
}
@keyframes zootorial-glow {
  0% {
    -webkit-box-shadow: 0 0 0 2px #000 inset;
    box-shadow: 0 0 0 2px #000 inset;
  }

  50% {
    -webkit-box-shadow: 0 0 0 2px #fff inset;
    box-shadow: 0 0 0 2px #fff inset;
  }

  100% {
    -webkit-box-shadow: 0 0 0 2px #000 inset;
    box-shadow: 0 0 0 2px #000 inset;
  }
}
