.zootorial-dialog {
  background: #fff;
  border: 1px solid #000;
  color: #000;
  display: none;
  max-width: 33%;
  transition: left 0.25s ease-in, top 0.25s ease-out;
  z-index: 2;
}
.zootorial-dialog.open {
  display: block;
}
.zootorial-blocker {
  background: #808080;
  cursor: not-allowed;
  opacity: 0.25;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;
}
.zootorial-blocker.hidden {
  opacity: 0;
}
.zootorial-focuser {
  background: #808080;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;
}
.zootorial-focuser.hidden {
  opacity: 0;
}
