.zootorial-dialog {
  background: #fff;
  border: 1px solid #808080;
  color: #000;
  left: 0;
  max-width: 33%;
  top: 0;
  z-index: 2;
}
.zootorial-dialog.animate {
  transition: left 0.25s ease-in, opacity 0.25s ease-in-out, top 0.25s ease-out;
  -moz-transition: left 0.25s ease-in, opacity 0.25s ease-in-out, top 0.25s ease-out;
  -webkit-transition: left 0.25s ease-in, opacity 0.25s ease-in-out, top 0.25s ease-out;
  -o-transition: left 0.25s ease-in, opacity 0.25s ease-in-out, top 0.25s ease-out;
}
.zootorial-dialog.hidden {
  opacity: 0;
}
.zootorial-dialog.arrow-right > .arrow {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #fff;
  position: absolute;
  right: -5px;
  top: 45%;
}
.zootorial-dialog.arrow-left > .arrow {
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #fff;
  position: absolute;
  left: -5px;
  top: 45%;
}
.zootorial-dialog.arrow-top > .arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  position: absolute;
  left: 45%;
  top: -5px;
}
.zootorial-dialog.arrow-bottom > .arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #fff;
  position: absolute;
  left: 45%;
  bottom: -5px;
}
.zootorial-dialog .arrow {
  width: 0;
  height: 0;
}
.zootorial-blocker {
  background: #808080;
  cursor: not-allowed;
  opacity: 0.25;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;
}
.zootorial-blocker.hidden {
  opacity: 0;
}
.zootorial-focuser {
  background: #808080;
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
  z-index: 1;
}
.zootorial-focuser.hidden {
  opacity: 0;
}
