@import "../../node_modules/nib"

.zootorial-dialog
  background: white
  border: 1px solid black
  color: black
  display: none
  max-width: 33%
  transition: left 0.25s ease-in, top 0.25s ease-out
  z-index: 2

  &.open
    display: block

.zootorial-blocker
  background: gray
  cursor: not-allowed
  opacity: 0.25
  position: absolute
  transition: opacity 0.25s ease-in-out
  z-index: 1

  &.hidden
    opacity: 0

.zootorial-focuser
  background: gray
  opacity: 0.75
  position: absolute
  transition: opacity 0.25s ease-in-out
  z-index: 1

  &.hidden
    opacity: 0
