html
  font: 14px sans-serif

body
  margin: 2em

.interesting
  background: #f00
  border: 1px solid #999
  display: inline-block
  height: 100px
  line-height: 100px
  text-align: center
  width: 150px
